* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge*/
body::-webkit-scrollbar {
  display: none;
}

/* Firefox hide scrollbar */
html {
  scrollbar-width: 0;
}
.followers-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
  row-gap: 2rem;
}

.follower-grid-item {
  background-color: transparent;
  color: black;
  padding: 0;
  height: 5rem;
  width: 5rem;
}

figcaption {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.follower-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.followers-header {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  column-gap: 0;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  color: #4caf50;
  font-size: 18px;
}

.followers-header a {
  text-decoration: none;
  color: #4caf50;
}

#query {
  color: black;
  font-weight: bold;
}

#add-favorite {
  cursor: pointer;
  margin-left: 50px;
  padding: 0;
}
